{% extends "./layouts/base.njk" %} 
{% block main %}
<section>
    <div class="pad-lr-md">
        <h1 class="fs-xl marg-b-md">See What Friends are Listening To</h1>
    </div>
    <div class="flex">
        <div class="flex align-center basis-6">
            <div class="basis-8">
                <form id="friends_form" action="/friends" autocomplete="off" method="post">
                    <div class="flex">
                        <div class="basis-6">
                            <input required type="text" id="username" placeholder="Find friend by username" name="username" />
                        </div>
                        <div class="marg-t-sm">
                            <input type="submit" class="Btn" value="Search"></input>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <p class="pad-r-sm">Friends list: </p>
            <ul class="list-style-none">
                {% if friends.length > 0 %} 
                    {% for friend in friends %}
                    <li class="pad-b-sm">
                        <a class="color-link" href="/friends/{{friend.username}}">{{ friend.username }}</a>
                        <a class="pad-l-sm" href="/delete-friend/{{friend.id}}">x</a>
                    </li>
                    {% endfor %} 
                {% else %}
                    <p>You have no friends.</p>
                {% endif %}
        </div>
    </div>
    {% if result == true %}
    <div>
        {% if episodes.length > 0 %}
            <p>Podcast episodes favorited by
                <span class="bold">{{search_term}}</span>
                <a href="/save-friend/{{user.id}}">(save as friend)</a>
            </p>
            {% for episode in episodes %}
            <div class="Card">
                <p><a class="color-link bold" href="/podcast/{{ episode.podcast_id }}">{{ episode.podcast_name }}</a>: 
                    {% if episode.link %}
                    <a class="color-link" href="{{episode.link}}">{{ episode.name }}</a>
                    {% else %}
                    {{ episode.name }}
                    {% endif %}
                {% set isNull = false %}
                {% if episode.comments | length > 0 %}
                    {% if episode.comments | length == 1 %}
                        {% if episode.comments[0].comment == null %}
                            {% set isNull = true %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if isNull == false %}
                <span class="pad-l-sm underline"><a class="cursor" onclick="Comments({{episode.id}})">see comments</a></span>
                {% endif %}
                </p>
                {% if episode.rating %}
                    <p>Rating: {{episode.rating}} / 5</p>
                {% endif %}
            </div>
            <div id="comments_content_{{episode.id}}" class="hidden">
                <h4 class="marg-b-sm">{{search_term | capitalize }}'s Comments for {{episode.name}}</h4>
                {% if isNull == false %}
                    {% for comment in episode.comments %}
                        <p>- {{comment.comment}}</p>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <p>No favorited podcast episodes from {{search_term}}
                <a href="/save-friend/{{user.id}}">(save as friend)</a>
            </p>
        {% endif %} 
    </div>
    {% elif result == false %}
    <div>
        <p>{{ search_term | capitalize }} does not exist.</p>
    </div>
    {% endif %}
</section>
{% endblock %}
{% block scripts %}
    <script src="/js/tingle.min.js"></script>
    <script src="/js/comment.js"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/css/tingle.min.css">
{% endblock %}