{% extends "./layouts/base.njk" %}

{% block main %}
<section class="b-color-main">
    <div>
        <h1 class="color-white">Search for Podcasts</h1>
           <form id="search_podcast_form" action="/search" autocomplete="off" method="post">
           <div class="flex align-center">
                <div class="HomeSearch--left">
                    <input type="text" id="username" placeholder="Search" name="terms" value="{{ search_term }}" />
                </div>
                <div>
                    <input type="submit" class="BtnWhite bold" value="Search"></input>
                </div>
            </div>
            </form>
    </div>
</section>
{% if results %}
<section>
    <div>
        <p>Showing {{ result_count }} results</p>
    </div>
    <div>
        {% for result in results %}
        <div class="flex Card nowrap align-start">
            <div class="align-self-center">
                <img class="img-md" src="{{ result.artworkUrl100 }}" />
            </div>
            <div>
                <p><a class="color-link bold" href="/podcast/{{ result.collectionId }}">{{ result.collectionName }}</a></p>
                <p>{{ result.artistName }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
</section>
{% endblock %}
